@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito:wght@500&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}

.HiperVinculoDeProducto {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 140px;
    height: 40%;
}

/*TODO: Aqui vamos a modificar todo lo que sea respecto al titulo */
.vinculo,
.vinculoDos {
    width: 40%;
    height: 40%;
}

.vinculo,
.nuevoProducto {
    color: black;
    text-decoration: none;
    font-size: 28px;
    width: 40%;
    height: 40%;
}

.vinculoDos,
 .nuevoCurso {
    color: black;
    text-decoration: none;
    font-size: 28px;
    text-align: center;
    width: 40%;
    height: 40%;

}

.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.titulo h1 {
    margin: 5%;
    font-size: 32px;
    text-align: center;
}



/*! todo lo que va aqui es respecto a los input */


.informacionFile {
    display: flex;
    justify-content: center;
    align-items: center;    /* Se acomodan verticalmente     */
    margin: 5%;

}

.descripcionDelProducto {
    justify-content: center;
    align-items: center;
    margin-left: 0%;
}


/* todo lo que va aqui es respecto a los parrafos */
 .contenedorProductos {

    padding-left: 15%;
    padding-right: 15%;
} 

.contenedorProductos p {
    height: 50%;    /*altura de nuestro primer parrafo*/
    width: 40%;    /*Ancho de los parrafos*/
    text-align: start;
    margin-top: 40px;
    margin-bottom: 0rem;
}
.alin1{
    height: 50%; 
    width: 150%;
}
.alin2{
    height: 50%; 
}

/*!Esto es todo respecto a los inputs del formulario*/


/*Todo este bloque hace que los input tengan esa forma redonda*/
.divDelInput{
    width: 100%;
    height: 70%;
}

.inputNombresProducto,
.inputMarcaProducto,
.inputPresentacioProducto,
.inputFabricanteProducto{
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    border: 1.4px solid #000;
    background: #FFF;
    justify-content: center;
}

.preciosYExistencias{
    display: flex;
}
.inputDePrecios,
.inputDeExistencias{
    width: 230px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    border: 1.4px solid #000;
    background: #FFF;
    justify-content: center;
}

.inputDescripcionProducto {
    text-align: start;
    border-radius: 5px;
    border: 1.4px solid #000;
    background: #FFF;
    transition: background 0.8s;
    /* box-shadow: 0 -70px -63px -60px #000; */
    justify-content: center;
}




/*todo lo que va aqui es para la imagen*/

.centrarImagenPrevia {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* !Importante recordar que si son clases y que estan pintadas en javascript */
#imagenPrevisualizada {
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 200px;
    flex-shrink: 0;
    max-width: 100%;
    /* La imagen se ajustará al ancho máximo del contenedor */
    height: 100%;
    /* La altura se ajustará automáticamente para mantener la proporción */

}

.imagenSubirArchivo{
    justify-content: center;
    width: 25px;
    height: 25px;
}

#etiquetaDeImagen {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 200px;
}
#imagenPrevia{
    display: none;
}
.vistaPreviaProducto {
    max-width: 100%;/* La imagen se ajustará al ancho máximo del contenedor */
    height: auto;/* La altura se ajustará automáticamente para mantener la proporción */
    align-items: center;
    justify-content: center;
}





/*! Aqui agregamos los formatos al boton */



.agregado {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
}



.botonEnviar {
    background-color: #F50087;
    font-family: 'Montserrat', sans-serif;
    /* font-weight:900; */
    width: 200px;
    height: 70px;
    border-radius: 9px;
    border-style: none;
    font-size: 20px;
    color: white;
}

@media screen and (max-width: 767px) {
    .inputDescripcionProducto {
        width: 80%;
        height: 80%;
        /* Tamaño más pequeño para dispositivos móviles */
    }
    .titulo h1{
        font-size: 20px;
    }
    .contenedorProductos {
        margin-left: 0%;
        margin-right:0%;
    }
    .contenedorProductos p {
        font-size: 13px;
        /* text-align: start; */
        /* align-items: center; */
    }



  .titulodescripcionProducto p{
    margin: 0%;
    width: 100%;
  }
  .HiperVinculoDeProducto {
    display: flex;
    margin-top: 100px;
    margin-left: 0%;
    margin-right:0%;

}
.vinculo,.vinculoDos {
width: 100%;
height: 50%;
}

     .vinculo .nuevoProducto{
    text-decoration: none;
    font-size: 13px;
    text-align: center;

    }

    .vinculoDos .nuevoCurso {
        text-align: center;
        font-size: 13px;
        text-align: center;
    }
    .presentacion{
        margin:0%;
    }
}