#imagenPrevisualizada, #divCurso, #videoTotalCurso {
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
  }

      /* !Importante recordar que si son clases y que estan pintadas en javascript */
   .vistaPreviaProducto,.inputdelCurso,.vistaPreviaVideo{
    width: 300px;
    height: 300px;
    margin: 0%; 
  } 


