.container-cursos {
    
}

.titulo-cursos {
  text-align: center;
  display: block;
  font-size: 24px;
  margin-top: 20px;
  font-size: 35px;
}

.imagen-curso1 {
  text-align: center;
  display: block;
  margin-top: 20px;
  margin: 20px auto;
}

.subtitulo-cursos {
  text-align: center;
  display: block;
  font-size: 25px;
  margin-top: 20px;
}

.parrafo-curso1 {
  text-align: center;
  display: block;
  text-align: justify;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 150px;
  margin-left: 270px;
  margin-right: 270px;

}