/*Inicia contenido*/


.contenido {
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
}

.primeraSeccion {
    border-bottom: 2px solid rgb(209, 209, 209);
    width:100%;
    
}

.segundaSeccion {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width:15%;
    max-width: 20%;
    /*Este porcentaje tiene que estar en correlación con el de la tercera sección*/
}

.terceraSeccion {
    justify-content: space-around;
    width:80%;
    max-width: 80%;
    /*Este porcentaje tiene que estar en correlación con el de la segunda sección*/
    border-left: 2px solid rgb(209, 209, 209);
}

/*Inicia menu opciones*/
.menu-opciones {
    display: flex;
    margin-left: 250px;
    gap: 50px;
}

.menu-opciones a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.checkBoxPrecio,
.checkBoxMarca,
.checkBoxEnOferta {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 20px;
}

.checkBoxPrecio p,
.checkBoxMarca p {
    font-weight: bold;
}

.checkBoxEnOferta {
    margin-top: 25px;
}

/*Termina menu opciones*/

/*Subtítulo de la sección productos*/
.contenedor-subtitulo {
    text-align: center;
    margin-top: 0px;
}

.subtitulo {
    font-size: 50px;
}




@media screen and (max-width:991.00px) {
    .contenido {
        padding-top: 100px;
    }

    .primeraSeccion {
        border-bottom: 2px solid rgb(209, 209, 209);
        width:100%;
    }

    .segundaSeccion {
        border-left: 2px solid rgb(209, 209, 209);
        display: flex;
        flex-direction: column;
        width:15%;  /*Este porcentaje tiene que estar en correlación con el de la tercera sección*/
    }

    .terceraSeccion {
        max-width: 85%;/*Este porcentaje tiene que estar en correlación con el de la segunda sección*/
    }

    .contenedor-tarjetas{
        justify-content: center;
    }

    /*Inicia menu opciones*/
    .menu-opciones {
        width:auto;
        margin-left:200px;
    }

    .checkBoxEnOferta, .checkBoxPrecio{
        display:flex;
        flex-wrap:wrap;

    }

    .checkBoxPrecio,
    .checkBoxMarca,
    .checkBoxEnOferta {
        justify-content: center;
        position: relative;
    }

    .checkBoxPrecio p,
    .checkBoxMarca p     
    {
        font-weight: bold;
        font-size:15px;
        margin-bottom:0;
    }

    .checkBoxEnOferta {
        margin-top: 0;
    }

    .contenedor-masBajo label, .contenedor-masAlto label, .contenedor-marca label, .contenedor-enOferta label{
        font-size:13px;

    }

    /*Termina menu opciones*/

}


@media screen and (max-width:700px) {
   
    .contenido {
        padding-top: 100px;
        flex-direction: column;
    }

    .primeraSeccion {
        border-bottom: 2px solid rgb(209, 209, 209);
        width:100%;
    }

    .segundaSeccion {
        display: flex;
        width:100%;
        max-width:100%;  
        flex-direction: row;
        justify-content: space-evenly;
    }

    .terceraSeccion {
        width:100%;
        max-width: 100%;
        border-top: 2px solid rgb(209, 209, 209);
    }

    .contenedor-tarjetas{
        justify-content: center;
    }

    /*Inicia menu opciones*/
    .menu-opciones {
        width:auto;
        margin-left:0;
        justify-content: center;
    }

    .checkBoxEnOferta, .checkBoxPrecio{
        display:flex;
        flex-wrap:wrap;
    }

    .checkBoxPrecio,
    .checkBoxMarca,
    .checkBoxEnOferta {
        justify-content: center;
        position: relative;
    }

    .checkBoxPrecio p,
    .checkBoxMarca p     
    {
        font-weight: bold;
        font-size:15px;
        margin-bottom:0;
    }

    .checkBoxEnOferta {
        margin-top: 0;
    }

    .contenedor-masBajo label, .contenedor-masAlto label, .contenedor-marca label, .contenedor-enOferta label{
        font-size:13px;

    }

    /*Termina menu opciones*/

}