@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}

.navBarSuperior {
    background-color: #EE692A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 2px 5%;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

.logo img {
    width: 100px;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
}

.contenedor-barra-busqueda {
    width: 50%;
    position: relative;

}

.barra-buscar {
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 100px;
    text-align: center;
    padding: 7px;
    padding-inline-end: 15%;
    padding-inline-start: 3%;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
}

.boton-buscar {
    position: absolute;
    border: 0;
    outline: none;
    background: peachpuff;
    border-radius: 100px;
    padding: 7px 30px;
    right: 0;
    top: 0;
}

.logos {
    align-items: end;
    display: flex;
    /* position: relative; */
}

.menu-hamburguesa svg {
    width: 100px;
    height: 100px;
    display: flex;
    padding: 25px;
    color: white;
}

.logoCentral img {
    width: 100px;
}

.logos{
    align-items: center;
}

.logos .logo-usuario{
    color: white;
    filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.3));
    height:50px;
    width:50px;
}

.logos .logo-carrito{
    color: white;
    filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.3));
    height:42px;
    width:50px;
}



/* .posicionNavBar row col-sm-12 navBarInferior{
    display:none;
} */

.navBarInferior {
    align-items: center;
    justify-content: space-between;
    background-color: #FBE0D3;
    height: 50px;
    position: fixed;
    top: 85px;
    right: 0px;
    left: 0px;
}

.navBarInferior .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 5px 10%;
}

.nav-links,
a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.contenido {
    margin-top: 145px;
    min-height: calc(100vh - 285px);
}


.footer{
    background-color:#EE692A;
    height: 100%;
    width: 100%;

}

.elementos-row{
    display:flex;
    color:white;
    justify-content: center;
    flex-wrap:wrap;
}


.contenedor-iconos{
    justify-content: center;
}

.iconos-redes{
    display:flex;
    justify-content: center;
    padding-top:25px;
}

.iconos-redes svg{
    filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.3));
    height:35px;
    width:35px;
    margin: 0 10px;
    color:white;
}

.footer ul{
    list-style-type: none;
}
