@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito:wght@500&display=swap');


body{
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    

}


/*font-family: 'Nunito', sans-serif;

font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;*/

.boton{
    background-color: #F50087;
    font-family: 'Montserrat', sans-serif;
    width: 148px;
    height: 46px;
    border-radius: 45px;
    border-style: none;
    font-size: 20px; 
}
   
    body{
        font-size: 17px;
        font-family: 'Nunito', sans-serif;
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        padding-top: 20px;
    } 

    
    
    /*font-family: 'Nunito', sans-serif;
    
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;*/
    
    .boton{
        background-color: #F50087;
        font-family: 'Montserrat', sans-serif;
        width: 148px;
        height: 46px;
        border-radius: 9px;
        border-style: none;
        font-size: 20px; 
          color: white;
    }
    #boton-container{
        margin: 30px;
    
    }

.titulo-dudas{
  padding-left: 20px;
    
}
.titulo-contactanos{
    padding-left: 20px;
    
}
.titulo-escribenos{
    padding-left: 20px;
}
   