.contenedor-cursos{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tarjeta-curso{
    border-radius: 25px;
    display:flex;
    flex-wrap: wrap;
    max-width: fit-content;
    margin:25px;
}

.contenedor-banner{
    display:flex;
    position:relative;
    height:fit-content;
    max-width: fit-content;
}

.banner-curso{
    width:100%;
}

.etiqueta-promo{
    position:absolute;
    margin-bottom:0;
    bottom:0;
    right:0;
    background-color: gold;
}

.descripcion-curso{
    margin-bottom:0;
}

.contenedor-estrellas{
    display:flex;
    align-items: center;
}

.estrellas{
    margin:3px;
    color:rgb(182, 157, 17);
}

.contenedor-calificacion{
    display:flex;
    align-items: center;
}

.calificacion{
    margin-bottom:0px;
    padding-left:10px;
    color:rgb(182, 157, 17);
}

.contenedor-precio-curso{
    align-items: center;
}

.precio-cantidad, .precio-cantidad-descuento{
    text-decoration: none;
    color:black;
}

.precio-cantidad-descuento{
    font-size: 15px;;
    color:gray;
    
}
