@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    margin:0;
    padding:0;
    box-sizing: border-box;

}

.navBar{
    top:0;
    width:100%;
    position:fixed;
    z-index:1;
}

.navBarSuperior {
    background-color: #EE692A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 2px 5%;
    top: 0px;
    right: 0px;
    left: 0px;
}

.logo img {
    width: 100px;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
}

.contenedor-barra-busqueda {
    width: 50%;
    position: relative;
}

.barra-buscar {
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 100px;
    text-align: center;
    padding: 7px;
    padding-inline-end: 15%;
    padding-inline-start: 3%;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
}

.boton-buscar {
    position: absolute;
    border: 0;
    outline: none;
    background: peachpuff;
    border-radius: 100px;
    padding: 7px 30px;
    right: 0;
    top: 0;
}

.logos {
    align-items: end;
    display: flex;
    align-items: center;
}

.menu-hamburguesa{
    display:none;
}

.menu-hamburguesa svg {
    width: 100px;
    height: 100px;
    padding: 25px;
    color: white;
}

.logoCentral img {
    width: 100px;
}

.logos .logo-usuario{
    color: white;
    filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.3));
    height:50px;
    width:50px;
}

.logos .logo-carrito{
    color: white;
    filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.3));
    height:42px;
    width:50px;
}

.logos svg {
    width: 45px;
    height: 45px;
    color: white;
    filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.3));
}

/*Navbar inferior*/
.navBarInferior {
    background-color: #FBE0D3;
    top: 85px;
    right: 0px;
    left: 0px;
    display: block; /*Si escondes el navbar desde el menu hamburguesa ya no aparece si la pantalla se hace grande */
}

.nav-links {
    display:flex;
    justify-content: space-between;
    padding: 5px 10%;

}

.nav-links a {
    list-style: none;
    text-decoration: none;
    color: black;
}

/*Carrusel*/
.contenedor-carrusel{
    margin: 150px 50px 50px 50px;
}

/*Subtítulo de la sección productos*/
.contenedor-subtitulo{
    text-align: center;
    margin-top: 50px;
}

.subtitulo{
    font-size: 50px;
}


/*Aquí empieza codigo del body del tutorial*/

.contenedor-tarjetas{
    width:100%;
    max-width:1000px;
    /*height:430px; esto es lo que hace que se sobrepongan los elementos*/
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin:auto;
}

.contenedor-tarjetas .card{
    width:200px;
    height:430px;
    border-radius:8px;
    box-shadow: 0 2px 2ox rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align:center;
    transition:all 0.25s;
    background-color: F0F0F0;
    align-items: center;
}

.contenedor-tarjetas .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.contenedor-tarjetas .card img{
    width: 150px;
    height:170px;
}

.contenedor-tarjetas .card p{
    font-weight:600;
    padding: 0 1rem;
    font-size:16px;
}

.contenedor-tarjetas .card button{
    font-weight:500;
    text-decoration:none;
    background: #F50087;
    color:white;
    border:none;
    border-radius: 5px;
    width:150px;
    height:50px;
} 


/*Aqui termina el codigo del body del tutorial*/

.footer {
    background-color:#EE692A;
    color:white;
}


li {
    list-style-type: none;
}


.textoIzquierda,
span {
    display: flex;
    align-items: center;
    height: -50%;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 12px;
}

.contenedorRedes {
    position: relative;
}

.redesSociales {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redesSocialesCentral {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 35%;
}

.contenedorContacto {
    position: relative;
}

.textoDerecha {
    flex-direction: column;
    color: white;
    justify-content: center;
    position: absolute;
    top: 25%;
    left: 25%;
}

@media screen and (max-width:991.00px){

    .contenedor-barra-busqueda{
        display:none;
    }

    .navBarSuperior{
        position:relative;
    }

    .navBarInferior{
        visibility:hidden;
        display: flex;
        background-color: white;
        height:0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }

    .nav-links{
        top:85px;
        flex-direction: column;
        align-items: start;
        background-color: #EE692A;
        align-items: center;
        height:500px;
        position:absolute;
    }

    .nav-links li{
        padding-top:25px;
        padding-bottom: 50px;
    }

    .nav-links a {
        color:white;
    }

    .menu-hamburguesa{
        display:flex;
        cursor:pointer;
    }

    .contenedor-carrusel{
        margin: 75px 100px 25px 100px;
    }
}

