@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito:wght@500&display=swap');


body {
    font-size: 15px;
    font-family: 'Nunito', sans-serif;


}


/*font-family: 'Nunito', sans-serif;

font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;*/

.boton {
    background-color: #F50087;
    font-family: 'Montserrat', sans-serif;
    width: 148px;
    height: 46px;
    border-radius: 45px;
    border-style: none;
    font-size: 20px;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
   
    body{
        font-size: 17px;
        font-family: 'Nunito', sans-serif;
         /*padding-inline-start: 20px;
        padding-inline-end: 20px;
        padding-top: 20px; */
    } 
    .ContenedorFormularioContacto{
        margin-top: 140px;
    }
=======
>>>>>>> 756e93ecff23e84e19dae6aaa4c0085534398730
=======
>>>>>>> 756e93ecff23e84e19dae6aaa4c0085534398730
=======
>>>>>>> 756e93ecff23e84e19dae6aaa4c0085534398730
=======
>>>>>>> 756e93ecff23e84e19dae6aaa4c0085534398730
=======
>>>>>>> 756e93ecff23e84e19dae6aaa4c0085534398730

body {
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
    /* padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-top: 20px; */
}

.contenedorFormularioContacto{
    margin-top: 140px;
}

/*font-family: 'Nunito', sans-serif;
    
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;*/

.boton {
    background-color: #F50087;
    font-family: 'Montserrat', sans-serif;
    width: 148px;
    height: 46px;
    border-radius: 9px;
    border-style: none;
    font-size: 20px;
    color: white;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
}

#boton-container {
    margin: 30px;

}

.titulo-dudas {
    padding-left: 20px;

}

.titulo-contactanos {
    padding-left: 20px;

}
<<<<<<< HEAD
   
.card-text{
    text-align: justify;
    
}
=======

.titulo-escribenos {
=======
}

#boton-container {
    margin: 30px;

}

.titulo-dudas {
    padding-left: 20px;

}

.titulo-contactanos {
>>>>>>> 756e93ecff23e84e19dae6aaa4c0085534398730
    padding-left: 20px;

}
<<<<<<< HEAD
>>>>>>> 756e93ecff23e84e19dae6aaa4c0085534398730
=======

.titulo-escribenos {
=======
}

#boton-container {
    margin: 30px;

}

.titulo-dudas {
    padding-left: 20px;

}

.titulo-contactanos {
>>>>>>> 756e93ecff23e84e19dae6aaa4c0085534398730
    padding-left: 20px;

}
<<<<<<< HEAD
>>>>>>> 756e93ecff23e84e19dae6aaa4c0085534398730
=======

.titulo-escribenos {
=======
}

#boton-container {
    margin: 30px;

}

.titulo-dudas {
    padding-left: 20px;

}

.titulo-contactanos {
>>>>>>> 756e93ecff23e84e19dae6aaa4c0085534398730
    padding-left: 20px;

}
<<<<<<< HEAD
>>>>>>> 756e93ecff23e84e19dae6aaa4c0085534398730
=======

.titulo-escribenos {
=======
}

#boton-container {
    margin: 30px;

}

.titulo-dudas {
    padding-left: 20px;

}

.titulo-contactanos {
>>>>>>> 756e93ecff23e84e19dae6aaa4c0085534398730
    padding-left: 20px;

}
<<<<<<< HEAD
>>>>>>> 756e93ecff23e84e19dae6aaa4c0085534398730
=======

.titulo-escribenos {
    padding-left: 20px;
}
>>>>>>> 756e93ecff23e84e19dae6aaa4c0085534398730
